GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_MODEL=gemini-3-flash-preview
BRAND_NAME=Homes By Gurleen
REALTOR_NAME=Gurleen Chahal
MARKET_NAME=North County San Diego
CONTACT_EMAIL=gurleen@homesbygurleen.com
LEAD_WEBHOOK_URL=
LEAD_WEBHOOK_SECRET=replace_with_a_random_secret
CRM_SHEETS_URL=https://script.google.com/macros/s/your_apps_script_id/exec
CRM_API_TOKEN=replace_with_a_second_random_secret
